<!doctype html>  
<html lang="en">  
    <head>
		<link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>Hello World!</h1>
        <div id="future"></div>
        <form id="form" id="chat_form">
            <input id="chat_input" type="text">
            <input type="submit" value="Send">
        </form>
				
		<form id="new_char">
            <input id="char_input" type="text">
            <input type="submit" value="Send">
        </form>
		<!-- <div class="renderer"></div> --> 
		<div class="container">
			<canvas id="webgl" width="800" height="600"></canvas> 
		</div>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/jquery-2.1.4.min.js"></script> 
		<script src="js/babylon.2.3.js"></script>
		<script src="js/babylon.2.3.max.js"></script>
		<script src="js/babylon.2.3.noworker.js"></script>
		<script src="js/Keys.js"></script>
		<script src="js/Player.js"></script>
		<script src="js/Application.js"></script>
		<script src="js/canvas_resize.js"></script>
	 </body>
</html>  
